:root {
        --background:white;
        --darkgreen: #283618;
      }

html {
    scroll-behavior: smooth;
  
}
      
body {
    background-color: var(--background);
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
}

/* DESKTOP LAYOUT */

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darkgreen);
    padding: 1.6rem 10%;
    align-items: center;
  }

  /* Navigation Bar */
#nav-bar ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
  }
  .nav-link {
    margin-left: 1rem;
    padding: 1.6rem 0.5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }

  .nav-link:hover {
    padding: 0.7rem 0.5rem;
    border-bottom: 0.05rem solid #FFF;
    transition: .4s;
  }
  
 /* About */
#aboutUs {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.6rem 15%;
 

}

#aboutUs h1 {
    padding-top: 5rem;
    padding-right: 12rem;
    letter-spacing: 0.2em;
}

#aboutUs button {
  margin: 10px auto;
  padding: 15px 5px;
  width: 35rem;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 3px;
  border-radius: 8px;
  color: #FFF;
  background-color: var(--darkgreen);
  border: 2px solid var(--background);
}

#aboutUs button:hover {
    background-color: #FFF;
    color: var(--darkgreen);
    border: 2px solid var(--darkgreen);
    transition: .5s;
  }

#aboutUs img {
    width: 350px;
    height: 450px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

 /* benefits */
#benefits {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 10%;
    padding-left: 3%;
    align-items: center;
    font-size: 1.3em;
}

#benefits img {
    width: 100px;
    height: 100px; 
    padding-left: 4%;
    padding-right: 4%;
}

 /* Review */

 /* Pricing */
#pricing {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem 10%;
    align-items: right; 
}

#pricing img {
    width: 300px;
    height: 400px;
    padding-left: 5%;
}


/************* TABLET LAYOUT ****************/

@media only screen and (max-width: 1200px) {

    body{
        background-color: aqua;
    }
 /* Header */
 #header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Navigation Bar */
  #nav-bar ul {
    padding-left: 0;
    min-width: 290px;
  }

  /* About Us */
  #aboutUs {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 10%;
  }

  #aboutUs h1 {
    padding-top: 3rem;
    padding-right: 5rem;
    padding-left: 5rem;
    letter-spacing: 0.2em;
  }

  #aboutUs button {
    margin: 10px auto;
    width: 30rem;
    font-size: 0.9em;
    font-weight: 400;
    display: flex;
  justify-content: center;
  align-items: center;
}

/* benefits */
#benefits {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 30%;
    padding-bottom: 2;
    text-align: center;
  }

  #benefits img {
    padding-bottom: 2%;
  }

  #benefits p {
    padding-bottom: 2%;
  }

   /* Review */

 /* Pricing */
 #pricing {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 30%;
  }
}

/* MOBILE LAYOUT */
@media only screen and (max-width: 665px) {
body {
    background-color: beige;
}


/* aboutUs */
#aboutUs {
   /** padding-right: 7rem; */

}
    #aboutUs button {
        font-size: 1.2rem;
        margin: 10px auto;
        padding: 8px;
        width: 20rem; 
    }

    #aboutUs h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        text-align: left;
      }

      #aboutUs img {
        width: 300px;
        height: 400px;
      }

      /*Benefits*/

      #benefits {
        margin-top: 7%;
        font-size: 1.1em;
      }

      #benefits img {
        width: 80px;
        height: 80px;
      }

}